div{
    display: flex;
    justify-content: center;
    text-align: center;
}

ul
{
    list-style-type: none;
}
li{
    list-style-type: none;
}

table
{
    max-width: 66.67vw;
}

/*li
{
    margin-top: 20px;
    margin-bottom: 20px;
}*/

.roleReflection {
  max-width: 66.67vw;
  margin: 2rem auto;
}

.roleReflection ul {
  padding: 0;
}

.roleReflection li {
  margin-bottom: 1rem;
}

.reflectionQuestions {
  padding: 0;
}

.reflectionQuestions li {
  margin-bottom: 1rem;
}

