div{
    display: flex;
    justify-content: center;
    text-align: center;
}

ul
{
    list-style-type: none;
}

table
{
    max-width: 66.67vw;
}
/*li
{
    margin-top: 20px;
    margin-bottom: 20px;
}*/


