body {
  background-color: #f9f9f9;
}

div{
    display: flex;
    justify-content: center;
    text-align: center;
}

ul
{
    list-style-type: none;
}
li{
    list-style-type: none;
}

table
{
    max-width: 66.67vw;
}

/*li
{
    margin-top: 20px;
    margin-bottom: 20px;
}*/

.roleReflection {
  max-width: 66.67vw;
  margin: 2rem auto;
}

.roleReflection ul {
  padding: 0;
}

.roleReflection li {
  margin-bottom: 1rem;
}

.reflectionQuestions {
  padding: 0;
}

.reflectionQuestions li {
  margin-bottom: 1rem;
}

.KlasProjecten {
  max-width: 66.67vw;
  margin: 2rem auto;
}

.peItem {
  padding: 1.5rem;
  margin-bottom: 2rem;
}

.peItem h3 {
  margin-top: 0;
}

.peDate {
  font-size: 0.9rem;
}

.aimReflection {
  max-width: 66.67vw;
  margin: 2rem auto;
}

.aimSection {
  margin-bottom: 2rem;
}

.aimSection h3 {
  margin-bottom: 0.5rem;
}

.kernKwadranten {
  max-width: 66.67vw;
  margin: 2rem auto;
}

.kernKwadrant {
  margin-bottom: 3rem;
}


.kernKwadrant h4 {
  margin-top: 1.2rem;
  margin-bottom: 0.3rem;
}

